################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c867-scripting-and-programming-applications.slnx/FileContentIndex/0ce60e8a-061b-4b95-8a58-d7700a87a36d.vsidx
/.vs/c867-scripting-and-programming-applications.slnx/FileContentIndex/818dadd1-0580-4926-87fd-10ac854b827a.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/47097b34-3446-4d9c-b5d7-98273975d451.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/53198cc6-5364-4c8f-942a-8a1efe415957.vsidx
/ConsoleApplication1/.vs/ConsoleApplication1.slnx/FileContentIndex/7c8d2683-99d2-4927-8ebc-000ad5d9ffeb.vsidx
/ConsoleApplication1/.vs/ConsoleApplication1.slnx/FileContentIndex/8177dedf-6b3e-49f6-ba6a-4c6acf18a71f.vsidx
/ConsoleApplication1/.vs/ConsoleApplication1.slnx/v18/Insiders/ipch/AutoPCH/8491e2006e43107f/CONSOLEAPPLICATION1.ipch
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/7a92fdac-c8b7-4c2f-967a-d4a191e5871d.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/bdb33db6-d68b-4c00-8e95-e34f0b288a40.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/9cfb8f71-846b-41f3-9570-89bb666368d7.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/bf3542bd-6221-45bc-b9d5-5f543a0348ac.vsidx
/.vs/c867-scripting-and-programming123456.slnx/v18/Insiders/ipch/AutoPCH/26aac1ff84401ead/STUDENT.ipch
/.vs/c867-scripting-and-programming123456.slnx/v18/Insiders/ipch/AutoPCH/a74541b10ff310fc/STUDENT.ipch
