################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c867-scripting-and-programming-applications.slnx/FileContentIndex/0ce60e8a-061b-4b95-8a58-d7700a87a36d.vsidx
/.vs/c867-scripting-and-programming-applications.slnx/FileContentIndex/818dadd1-0580-4926-87fd-10ac854b827a.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/47097b34-3446-4d9c-b5d7-98273975d451.vsidx
/.vs/c867-scripting-and-programming123456.slnx/FileContentIndex/53198cc6-5364-4c8f-942a-8a1efe415957.vsidx
/ConsoleApplication1/.vs/ConsoleApplication1.slnx/FileContentIndex/7c8d2683-99d2-4927-8ebc-000ad5d9ffeb.vsidx
/ConsoleApplication1/.vs/ConsoleApplication1.slnx/FileContentIndex/8177dedf-6b3e-49f6-ba6a-4c6acf18a71f.vsidx
/ConsoleApplication1/.vs/ConsoleApplication1.slnx/v18/Insiders/ipch/AutoPCH/8491e2006e43107f/CONSOLEAPPLICATION1.ipch
